# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
out/test/**

# Ignore source code
src/**

# Ignore all webview-ui-sideview files except the build directory
webview-ui-sideview/src/**
webview-ui-sideview/public/**
webview-ui-sideview/scripts/**
webview-ui-sideview/index.html
webview-ui-sideview/README.md
webview-ui-sideview/package.json
webview-ui-sideview/package-lock.json
webview-ui-sideview/node_modules/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/*.map
**/*.ts
