@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
}

.htmlcode code {
  counter-reset: step;
  counter-increment: step calc(var(--linestart, 1) - 1);
}

.htmlcode code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-left: 8px;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
