@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
}

.prose pre > div {
  margin-top: 0 !important;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
